BOT_TOKEN=8427688497:AAGkBisiTfJM3RDc8DOG9Kx9l9EnekoFGQk
STEAM_COOKIE=76561198375596395%7C%7CeyAidHlwIjogIkpXVCIsICJhbGciOiAiRWREU0EiIH0.eyAiaXNzIjogInI6MDAxOF8yNkVDRjJBNV9EQkNDQSIsICJzdWIiOiAiNzY1NjExOTgzNzU1OTYzOTUiLCAiYXVkIjogWyAid2ViOmNvbW11bml0eSIgXSwgImV4cCI6IDE3NTc5NDYxNzYsICJuYmYiOiAxNzQ5MjE5MzkxLCAiaWF0IjogMTc1Nzg1OTM5MSwgImp0aSI6ICIwMDEyXzI2RUNGMkI5XzhEQTg1IiwgIm9hdCI6IDE3NTc3NzMyMTcsICJydF9leHAiOiAxNzc2MDgxNzEzLCAicGVyIjogMCwgImlwX3N1YmplY3QiOiAiMjE3LjExOC4xODQuMjQ0IiwgImlwX2NvbmZpcm1lciI6ICIxOTUuMjExLjI0LjI0MyIgfQ.lq4eB-FDDTEOLfUWZgjTxtVEZu24ECzQiOMI9nNzLRib-AeoLY4K6WuoGwrR_qktvRcE51bCrxzxRBZ4K_qiBQ
APP_ID=730
CURRENCY=5
CHANNEL_ID=-1002952911498
ADMIN_ID=873939087
USE_THIRD_PARTY_API=1
THIRD_PARTY_KEY=jxgK34vHL_Wn03ENLLqD5w5RBEs
PROXIES=
MAX_PAGES=50
REQUEST_DELAY=2.0
MAX_CONCURRENCY=8
CACHE_TTL=3600
MAX_RETRIES=5
RETRY_429_DELAY=60
POST_DELAY=3600
HISTORY_DAYS=7